<form role="form" action="/card/add" method="post">
  <input type="text" name="number" placeholder="Number"><br/>
  <input type="text" name="company" placeholder="Company"><br/>
  <input type="text" name="telephone" placeholder="Telephone"><br/>
  <input type="text" name="mobile" placeholder="Mobile"><br/>
  <input type="text" name="qq" placeholder="QQ"><br/>
  <input type="text" name="skype" placeholder="Skype"><br/>
  <input type="text" name="linkToDrive" placeholder="Link to google drive"><br/>
  <button type="submit">Add card</button>
</form>
