<form role="form" action="/detail/add" method="post">
  <input type="text" name="price" placeholder="Price of product"><br/>
  <input type="text" name="artNo" placeholder="Art No."><br/>
  <input type="text" name="code" placeholder="Code"><br/>
  <input type="text" name="cbm" placeholder="Cbm"><br/>
  <input type="text" name="qtyInBox" placeholder="Qty in Box"><br/>
  <input type="text" name="product" placeholder="Product Id"><br/>
  <input type="text" name="card" placeholder="Card Id"><br/>
  <button type="submit">Add detail</button>
</form>
